@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.5em;
    width: 100vw;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    color: white;
    letter-spacing: 0.5em;
    background-image: url('../media/img/background-landscape.jpg') ;
    background-size: fill;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

#main{
    position: relative;
    background-color: rgba(73, 73, 73, 0.301);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}   

#board{
    display: inline-flex;
    flex-wrap: wrap;
    background-color: rgb(209, 173, 125);
    width: 30vw;
    height: 30vw;
    padding: 20px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.308);
}




@media (max-width: 1400px){
    #board{
        width: 50vw;
        height: 50vw; 
    }
}

@media (max-width: 1000px){
    #board{
        width: 60vw;
        height: 60vw; 
    }
}

@media (max-width: 700px){
    #board{
        width: 100vw;
        height: 100vw; 
    }
}

.player-side{
    position: absolute;
    top: 0;
    height: 12vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.39);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#player-1-side{
    top: auto;
    bottom: 0;
}

.timer{
    position: relative;
    width: 200px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(91, 84, 122);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cell{
    width: calc(100% / 8);
    height: calc(100% / 8);
}

.piece{
    width: 100%;
    cursor: pointer;
}

.move-dot{
    width: 20%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.164);
    border-radius: 50%;
}

.path{
    box-shadow: inset 0 0 10px 2px rgba(253, 117, 117, 0.637);
    cursor: pointer;
}

.take{
    box-shadow: inset 0 0 10px 2px rgba(245, 248, 49, 0.637);
    cursor: pointer;
}

.settings-tab{
    position: fixed;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 5;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

#settings-icon{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5em;
    color: white;
    padding: 20px;
    cursor: pointer;
    z-index: 10;
}

.visible{
    transform: translateX(0%);
}

.shrink{
    width: 70%;
}
